.Game {
  height: 100vh;
  font-size: 3rem;
  cursor: url('../../../assets/img/brain.png') 53 64, auto;
}

.Game:active {
  cursor: url('../../../assets/img/brainred.png') 53 64, auto;
}


.Tec-image:active {
  cursor:  url('../../../assets/img/braingreen.png') 53 64, auto;
}

.Info-game {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
}

.Info-game > * {
  flex: 1 1 33.3%;
}

.Logo {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


