.Game {
  background-color: rgba(0, 0, 0, .3);
  font-size: 3rem;
  height: 100vh;
  cursor: url('../../../assets/img/brain.png') 53 64, auto;
}

.Game:active {
  cursor: url('../../../assets/img/brainred.png') 53 64, auto;
}


.Tec-image:active {
  cursor:  url('../../../assets/img/braingreen.png') 53 64, auto;
}

.Info-bar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  color: #21b524;
  height: 70px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Info-bar-top .Logo p {
  color: #ffffff;
}

.Back-screen {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  pointer-events: none;
  vertical-align: bottom;
}
.Back-screen > * {
  font-size: 1px;
  position: relative;
  top: 0;
  opacity: 0;
}

.Bonus1 {
  top: 1rem !important;
  font-size: 8rem !important;
  opacity: .8 !important;
  transform: rotate(720deg);
  transition: top .5s ease-out, transform .5s ease-out;
}

.Bonus2 {
  top: 1rem !important;
  font-size: 8rem !important;
  opacity: .8 !important;
  transform: rotate(-720deg);
  transition: top .5s ease-out, transform .5s ease-out;
}

.Bonus3 {
  top: 4rem !important;
  font-size: 3rem !important;
  opacity: .8 !important;
  color: #ffffff;
  transform: rotate(-720deg);
  transition: top .5s ease-out, transform .5s ease-out;
}

.Point-bonus {
  transform: rotate(360deg);
  font-size: 4rem;
  transition: font-size .3s ease-in-out, transform .3s ease-out;
}

.Point {
  transform: rotate(-360deg);
  font-size: 3rem;
  transition: font-size .3s ease-in-out, transform .3s ease-out;
}

.Info-bar-bottom {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.Logo {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.Back-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-right: 2rem solid #142610;
  border-top: 1.2rem solid #23401b;
  border-left: 2rem solid #142610;
  border-bottom: 1.2rem solid #23401b;
  border-radius: 1px;
}

.Back-img img {
  object-fit: cover;
  object-position: 8% 100%;
  border: 2px solid #000000;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .Back-img {
    border-right: 1.2rem solid #142610;
    border-top: 2rem solid #23401b;
    border-left: 1.2rem solid #142610;
    border-bottom: 2rem solid #23401b;
  }
}

@media (max-width: 600px) {
  .Logo {
    display: none;
  }
}

@media (max-width: 450px) {
  .Info-bar-bottom {
    height: 110px;
  }
}

@media (max-width: 400px) {
  .Info-bar-top {
    flex-direction: column;
    justify-content: space-around;
  }
}






.Tec-icon {
  top: calc(100vh - 7rem) !important;
  margin: 0 1rem;
  font-size: 5rem !important;
  opacity: 1 !important;
  transform: rotate(1440deg);
  transition: top 1s ease-out, transform 1.2s ease-out, opacity .6s linear;
}

.Tec-icon2 {
  margin: 0 1rem;
  top: calc(100vh - 7rem) !important;
  font-size: 5rem !important;
  opacity: .2 !important;
  transform: none;
}

@media (max-width: 600px) {
  .Tec-icon {
    margin: 0 .5rem;
  }

  .Tec-icon2 {
    margin: 0 .5rem;
  }
}

@media (max-width: 500px) {
  .Tec-icon {
    margin: 0 .2rem;
  }

  .Tec-icon2 {
    margin: 0 .2rem;
  }
}

@media (max-width: 450px) {
  .Tec-icon {
    top: calc(100vh - 14rem) !important;
    margin: 0 .5rem;
  }

  .Tec-icon2 {
    top: calc(100vh - 14rem) !important;
    margin: 0 .5rem;
  }
}
