.Game {
  font-size: 3rem;
  height: 100vh;
  cursor: url('../../../assets/img/brain.png') 53 64, auto;
}

.Game:active {
  cursor: url('../../../assets/img/brainred.png') 53 64, auto;
}


.Tec-image:active {
  cursor:  url('../../../assets/img/braingreen.png') 53 64, auto;
}

.Info-bar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  height: 70px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Back-screen {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  pointer-events: none;
  vertical-align: bottom;
}
.Back-screen > * {
  font-size: 0;
  position: relative;
  top: 0;
  opacity: 0;
}

.Bonus {
  color: gold;
  top: 5rem !important;
  font-size: 8rem !important;
  opacity: .6 !important;
  transform: rotate(720deg);
  transition: top .5s ease-out, transform .5s ease-out;
}

.Bonus2 {
  color: gold;
  top: 5rem !important;
  font-size: 8rem !important;
  opacity: .6 !important;
  transform: rotate(-720deg);
  transition: top .5s ease-out, transform .5s ease-out;
}

.Point-bonus {
  color: goldenrod;
}

.Info-bar-bottom {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.Logo {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@media (max-width: 600px) {
  .Logo {
    display: none;
  }
}

@media (max-width: 450px) {
  .Info-bar-bottom {
    height: 110px;
  }
}

@media (max-width: 400px) {
  .Info-bar-top {
    flex-direction: column;
    justify-content: space-around;
  }
}
