.Tec-icon {
  top: calc(100vh - 60px) !important;
  margin: 0 1rem;
  font-size: 5rem !important;
  opacity: 1 !important;
  transform: rotate(1440deg);
  transition: top 1s ease-out, transform 1.2s ease-out, opacity .6s linear;
}

.Tec-icon2 {
  top: calc(100vh - 60px) !important;
  margin: 0 1rem;
  font-size: 5rem !important;
  opacity: .2 !important;
  transform: none;
}

@media (max-width: 720px) {
  .Tec-icon {
    top: calc(100vh - 60px) !important;
  }

  .Tec-icon2 {
    top: calc(100vh - 60px) !important;
  }
}

@media (max-width: 600px) {
  .Tec-icon {
    margin: 0 .5rem;
  }

  .Tec-icon2 {
    margin: 0 .5rem;
  }
}

@media (max-width: 500px) {
  .Tec-icon {
    margin: 0 .2rem;
  }

  .Tec-icon2 {
    margin: 0 .2rem;
  }
}

@media (max-width: 300px) {
  .Tec-icon {
    margin: 0 ;
  }

  .Tec-icon2 {
    margin: 0;
  }
}

